<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find nao_gazebo_plugin)/launch/nao_gazebo.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" args="" output="screen" respawn="false">
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" args="" output="screen" respawn="true">
  </node>

  <node name="cog_publisher_node" pkg="robot_kinetics" type="cog_publisher_node" args="" output="screen" respawn="true">
  </node>

</launch>
